.pluginContainer {
  width: 320px;
}

.pluginTopBar {
  font-size: 14px;
  font-weight: 666;
  height: 49px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.tmp {
  padding: 12px 10px;
  overflow-y: auto;
}



.plugiTitle {

}

.addDomainModelButton {
  cursor: pointer;
}

.domainModelList {

}
